### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
number_of_school = len(school_data_complete["school_name"].unique())

#Calculate the total number of students
number_of_student = school_data_complete["student_name"].count()

#Calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()

#Calculate the average math score
avg_math_score = school_data_complete["math_score"].mean()

#Calculate the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
pass_math_df = school_data_complete.loc[school_data_complete["math_score"] >= 70]
number_pass_math = pass_math_df["student_name"].count()
percent_pass_math = number_pass_math/number_of_student

#Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
number_pass_reading = pass_reading_df["student_name"].count()
percent_pass_reading = number_pass_reading/number_of_student

#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_both_df = pass_math_df.loc[pass_math_df["reading_score"] >= 70]
number_pass_both = pass_both_df["student_name"].count()
percent_pass_both = number_pass_both/number_of_student

#Create a dataframe to hold the above results
district_summary = pd.DataFrame([{"Total Schools": number_of_school, 
                                  "Total Students": number_of_student, 
                                  "Total budgets": total_budget, 
                                  "Average Math Score": avg_math_score, 
                                  "Average Reading Score": avg_reading_score, 
                                  "% Passing Math": float(percent_pass_math * 100), 
                                  "% Passing Reading": float(percent_pass_reading * 100), 
                                  "% Passing Overal": float(percent_pass_both * 100) }])

#Give the displayed data cleaner formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{0:,.0f}".format)
district_summary["Total budgets"] = district_summary["Total budgets"].map("${0:,.2f}".format)

#Display the dataframe
district_summary

,Total Schools,Total Students,Total budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overal
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
# Determine the type for each school
school_types = school_data.set_index(["school_name"])["type"]

# Determine the total student count for each school
total_student = school_data_complete["school_name"].value_counts()

# Determine the total budget for each school and for each student per school
school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
student_budget = school_budget / total_student

# Calculate the average math scores
avg_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

# Calculate the average math scores
avg_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

#Calculate the percentage of students with a passing math score (70 or greater) for each school
#pass_math_df = school_data_complete.loc[school_data_complete["math_score"] >= 70]
school_pass_math = pass_math_df.groupby(["school_name"]).count()["student_name"]/total_student

#Calculate the percentage of students with a passing reading score (70 or greater) for each school
#pass_reading_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
school_pass_reading = pass_reading_df.groupby(["school_name"]).count()["student_name"]/total_student

#Calculate the percentage of students who passed math and reading (% Overall Passing) for each school
#pass_both_df = pass_math_df.loc[pass_math_df["reading_score"] >= 70]
school_pass_both = pass_both_df.groupby(["school_name"]).count()["student_name"]/total_student

#Create a dataframe to hold the above results
school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": total_student,
                                   "Total School Budget": school_budget,
                                   "Per Student Budget": student_budget,
                                   "Average Math Score": avg_school_math,
                                   "Average Reading Score": avg_school_reading,
                                   "% Passing Math": school_pass_math * 100,
                                   "% Passing Reading": school_pass_reading * 100,
                                   "% Overall Passing Rate": school_pass_both * 100})

#Give the displayed data cleaner formatting
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${0:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${0:,.2f}".format)

#Display the data frame
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type